<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.miniclock.admin.mapper.SdJobInfoMapper">

    <resultMap id="jobInfo" type="com.miniclock.admin.core.model.SdJobInfo">
        <result column="id" property="id"/>

        <result column="job_group" property="jobGroup"/>

        <result column="add_time" property="addTime"/>
        <result column="update_time" property="updateTime"/>

        <result column="schedule_type" property="scheduleType"/>
        <result column="schedule_conf" property="scheduleConf"/>
        <result column="misfire_strategy" property="misfireStrategy"/>

        <result column="executor_route_strategy" property="executorRouteStrategy"/>
        <result column="executor_handler" property="executorHandler"/>
        <result column="executor_param" property="executorParam"/>
        <result column="executor_block_strategy" property="executorBlockStrategy"/>
        <result column="executor_timeout" property="executorTimeout"/>
        <result column="executor_fail_retry_count" property="executorFailRetryCount"/>

        <result column="glue_type" property="glueType"/>
        <result column="glue_source" property="glueSource"/>
        <result column="glue_remark" property="glueRemark"/>
        <result column="glue_updatetime" property="glueUpdatetime"/>


        <result column="trigger_status" property="triggerStatus"/>
        <result column="trigger_last_time" property="triggerLastTime"/>
        <result column="trigger_next_time" property="triggerNextTime"/>
    </resultMap>

    <insert id="save" parameterType="com.miniclock.admin.core.model.SdJobInfo" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO sd_job_info (job_group,
                                 add_time,
                                 update_time,
                                 schedule_type,
                                 schedule_conf,
                                 misfire_strategy,
                                 executor_route_strategy,
                                 executor_handler,
                                 executor_param,
                                 executor_block_strategy,
                                 executor_timeout,
                                 executor_fail_retry_count,
                                 glue_type,
                                 glue_source,
                                 glue_remark,
                                 glue_updatetime,
                                 trigger_status,
                                 trigger_last_time,
                                 trigger_next_time)
        VALUES (#{jobGroup},
                #{addTime},
                #{updateTime},
                #{scheduleType},
                #{scheduleConf},
                #{misfireStrategy},
                #{executorRouteStrategy},
                #{executorHandler},
                #{executorParam},
                #{executorBlockStrategy},
                #{executorTimeout},
                #{executorFailRetryCount},
                #{glueType},
                #{glueSource},
                #{glueRemark},
                #{glueUpdatetime},
                #{triggerStatus},
                #{triggerLastTime},
                #{triggerNextTime})
    </insert>
    <update id="update">
        UPDATE sd_job_info
        SET
            trigger_last_time = #{triggerLastTime},
            trigger_next_time = #{triggerNextTime},
            trigger_status = #{triggerStatus}
        WHERE id = #{id}
    </update>

    <select id="scheduleJobQuery" resultMap="jobInfo">
        SELECT *
        FROM sd_job_info
        WHERE trigger_status = 1
          and trigger_next_time <![CDATA[ <= ]]> #{maxNextTime}
        ORDER BY id
        LIMIT #{preReadCount}
    </select>
    <select id="loadById" resultMap="jobInfo">
        select *
        from sd_job_info
        where id = #{id}
    </select>
</mapper>